.DS_Store
DiHand/Assembly-UnityScript-vs.unityproj
DiHand/Assembly-UnityScript.pidb
DiHand/Assembly-UnityScript.unityproj
DiHand/DiHand-csharp.sln
DiHand/DiHand.sln
DiHand/DiHand.userprefs
DiHand/Library/
DiHand/Temp/
DiHand/Assets/Plugins/